@import "~src/palette";
.applicationInfo {
  max-height: 650px;
  overflow-y: scroll;
  margin-right: 1px;
}

.infoHeader {
  font-size: 24px;
  /deep/ .material-icons {
    font-size: 17px !important;
  }
}

.infoSubHeader {
  font-size: 18px;
  /deep/ .material-icons {
    font-size: 14px !important;
  }
}

.infoContent {
  font-size: 16px;
  text-align: justify;
  /deep/ .material-icons {
    font-size: 14px !important;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 200px;
}

::-webkit-scrollbar-button {
  background: #888888;
}

::-webkit-scrollbar-track-piece {
  background: #cccccc;
}

::-webkit-scrollbar-thumb {
  background: $button;
}
