<!--<ngx-spinner-->
  <!--bdColor="#fff"-->
  <!--size="medium"-->
  <!--color="#fff"-->
  <!--type="ball-scale-multiple"-->
<!--&gt;-->
  <!--&lt;!&ndash;<p style="font-size: 20px; color: white">Loading...</p>&ndash;&gt;-->
<!--</ngx-spinner>-->
<div class="application p-2">
  <ngx-spinner
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
    [fullScreen]="true"
  >
    <!--<p style="font-size: 20px; color: white">Loading...</p>-->
  </ngx-spinner>
  <div>
    <!--<h5 class="text-center">{{ _translation('Application rating', langCode) }}</h5>-->
    <!--<bar-rating [(rate)]="rate" [max]="5"></bar-rating>-->
    <div class="row">
      <div class="col-md-5 col-sm-4"></div>
      <div class="col-md-2 col-sm-4">
        <h5 class="text-center">{{ _translation('Application rating', langCode) }}</h5>
        <div class="m-auto">
          <bar-rating [rate]="rate" [max]="5" class="ratingBar" (rateChange)="changeRating($event)"></bar-rating>
        </div>
      </div>
      <div class="col-md-5 col-sm-4"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 p-1">
      <button type="button" mat-raised-button color="primary" class="btn-block" (click)="redirectToBugs()">
        <i class="material-icons">bug_report</i>
        {{ _translation('Bugs', langCode)}}
      </button>
      <!--<button *ngIf="activeButton === 'bugs'" type="button" mat-raised-button color="primary" class="btn-block activeButton" (click)="redirectToBugs()">-->
        <!--<i class="material-icons">bug_report</i>-->
        <!--{{ _translation('Bugs', langCode)}}-->
      <!--</button>-->
    </div>
    <div class="col-md-6 col-sm-12 p-1">
      <button type="button" mat-raised-button color="primary" class="btn-block" (click)="redirectToSuggestions()">
        <i class="material-icons">question_answer</i>
        {{ _translation('Suggestions', langCode)}}
      </button>
      <!--<button *ngIf="activeButton === 'suggestions'" type="button" mat-raised-button color="primary" class="btn-block activeButton" (click)="redirectToSuggestions()">-->
        <!--<i class="material-icons">question_answer</i>-->
        <!--{{ _translation('Suggestions', langCode)}}-->
      <!--</button>-->
    </div>
    <div class="col-md-6 col-sm-12 p-1">
      <button type="button" mat-raised-button color="primary" class="btn-block" (click)="redirectToApplicationInfo()">
        <i class="material-icons">info</i>
        {{ _translation('Application info', langCode)}}
      </button>
      <!--<button *ngIf="activeButton === 'applicationInfo'" type="button" mat-raised-button color="primary" class="btn-block activeButton" (click)="redirectToApplicationInfo()">-->
        <!--<i class="material-icons">info</i>-->
        <!--{{ _translation('Application info', langCode)}}-->
      <!--</button>-->
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
