@import "~src/palette";
/deep/ .br-default .br-selected:after {
    color: $textBlack !important;
}
/deep/ .br-default .br-active:after {
    color: $textBlack !important;
}

/deep/ bar-rating{
  .br-default {
    @media (min-width: 768px) {
      width: 50% !important;
      margin-left: 25% !important;
    }
  }
}

.application {
  //border: 1px solid $borderBlue;
  //box-shadow: 0px 10px 20px rgba(128,128,128,0.5);
  min-height: 700px;
  color: $textBlack;
  background-color: $backgroundSilver;
  @media (max-width: 767px) {
    padding: 0;
    border-radius: unset;
    border: unset;
  }
}

button {
  font-weight: 300;
  border-radius: 0;
  //background-color: $backgroundSilver !important;
  //color: $textBlack !important;
  background-color: #2c3c77 !important;
  color: $textWhite !important;
  border: 1px solid $button;
  transition: background-color 500ms ease, color 500ms ease, border 500ms ease;
  &:hover {
    @media (min-width: 900px) {
      background-color: $button !important;
      color: $textWhite !important;
      transition: background-color 500ms ease, color 500ms ease;
    }
  }
  @media (max-width: 899px) {
    background-color: $button !important;
    color: $textWhite !important;
  }
}

.activeButton {
  background-color: $button !important;
  color: $textWhite !important;
}
