/deep/ .br-default .br-selected:after {
    color: #66FCF1 !important;
}
/deep/ .br-default .br-active:after {
    color: #66FCF1 !important;
}

/deep/ bar-rating{
  .br-default {
    @media (min-width: 768px) {
      width: 50% !important;
      margin-left: 25% !important;
    }
  }
}

.application {
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(128,128,128,0.5);
  min-height: 700px;
  color: #66FCF1;
  @media (max-width: 767px) {
    //padding: 0;
    border-radius: unset;
    border: unset;
  }
}

button {
  border-radius: 50px;
  background-color: #1F2833 !important;
  color: #66FCF1 !important;
}
