.messages {
  overflow-y: scroll;
  max-height: 500px;
}

.newBug {
  right: 0;
}

.bugs {
  height: 100%;
}

.message {
  border: 1px solid darkred;
  border-radius: 5px;
  margin-bottom: 10px;
  min-height: 100px;
  background-color: #1F2833;
  //&:hover {
  //  box-shadow: 0px 10px 20px rgba(128,128,128,0.5);
  //  background-color: lightblue;
  //}
}

.fixed {
  &.message {
    border: 1px solid green !important;
  }
}

button {
  border-radius: 50px;
  background-color: #1F2833 !important;
  color: #66FCF1 !important;
}
