@import "~src/palette";
.messages {
  overflow-y: scroll;
  max-height: 500px;
}

.newBug {
  right: 0;
}

.bugs {
  max-height: 700px;
  margin-right: 1px;
}

.message {
  border: 1px solid darkred;
  margin-bottom: 10px;
  min-height: 100px;
  background-color: $backgroundSilver;
  color: $textBlack;
  //&:hover {
  //  box-shadow: 0px 10px 20px rgba(128,128,128,0.5);
  //  background-color: lightblue;
  //}
}

.fixed {
  &.message {
    border: 1px solid green !important;
  }
}

button {
  font-weight: 300;
  //border-radius: 0;
  background-color: $backgroundSilver !important;
  //color: $textBlack !important;
  //border: 1px solid $button;
  border: 1px solid $buttonBorder;
  color: $button !important;
  border-radius: 50px;
  box-shadow: 0px 10px 20px rgba(128,128,128,0.5) !important;
  transition: background-color 500ms ease, color 500ms ease, border 500ms ease;
  &:hover {
    @media (min-width: 900px) {
      //background-color: $button !important;
      //color: $textWhite !important;
      background-color: $buttonBackground !important;
      color: $button !important;
      border: 1px solid $button;
      transition: background-color 500ms ease, color 500ms ease, border 500ms ease;
    }
  }
  @media (max-width: 899px) {
    //background-color: $button !important;
    //color: $textWhite !important;
    background-color: $buttonBackground !important;
    color: $button !important;
    border: 1px solid $button;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 200px;
}

::-webkit-scrollbar-button {
  background: #888888;
}

::-webkit-scrollbar-track-piece {
  background: #cccccc;
}

::-webkit-scrollbar-thumb {
  background: $button;
}
