/deep/ .newBillTextarea {
  height: 200px;
  max-height: 200px;
  min-width: 200px;
  resize: none !important;
  @media (max-width: 767px) {
    height: 200px !important;
    resize: none;
  }
  &::placeholder {
    color: #66FCF1;
  }
}

/deep/ .mat-dialog-container {
  background-color: #0B0C10 !important;
  color: #66FCF1 !important;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(128,128,128,0.5);
}

button {
  border-radius: 50px;
  background-color: #1F2833 !important;
  color: #66FCF1 !important;
}

/deep/ .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #66FCF1 !important;
}

/deep/ .mat-form-field.mat-focused .mat-form-field-label {
  color: #66FCF1 !important;
}

/deep/ .mat-form-field-appearance-legacy .mat-form-field-label {
  color: #66FCF1 !important;
}

/deep/ .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #F44336 !important;
}
