mat-form-field {
  width: 100%;
}

.login {
  position: absolute;
  width: 370px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(128,128,128,0.5);
  @media (max-width: 767px) {
    border: unset;
    border-radius: unset;
    box-shadow: unset;
    transform: unset;
    left: 0;
    top: 0;
    margin-top: 50%;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .login {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;;
      button {
          width: 100%;
      }
  }
}

.howApplicationWorks {
  height: 100%;
  position: relative;
  z-index: 99999 !important;
  background: lightblue;
  p {
    text-align: justify;
  }
}

.languageChoice {
  position: absolute;
  bottom: 0px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
