<div class="login p-3">

  <form *ngIf="!userActive" (submit)="activateUser(code)">
    <div>
      <mat-form-field>
        <mat-label>Activation code</mat-label>
        <input type="text" matInput required name="code" [(ngModel)]="code">
        <mat-icon matSuffix>vpn_key</mat-icon>
      </mat-form-field>
    </div>
    <div class="text-center">
      <button type="submit" mat-raised-button color="primary" class="btn-block">Activate</button>
    </div>
  </form>

  <form (submit)="login(email, password)" *ngIf="userActive">
    <!--img src="https://image.freepik.com/vettori-gratuito/consulenza-finanziaria-orientamento-finanziario-consulente-aziendale-assistenza-agli-investimenti-disegno-di-linea-di-disegno-di-linea-di-disegno-di-linea-di-libro-disegno-per-la-grafica-mobile-e-web_1200-303.jpg" width="100%" height="400" alt="Italian Trulli"-->
    <h3 class="mb-3">Login</h3>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input type="email" matInput required name="email" [(ngModel)]="email">
      <mat-icon matSuffix>account_circle</mat-icon>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
      <input type="password" matInput required name="password" [(ngModel)]="password">
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>
    <div *ngIf="message" class="mb-1">
      <span class="error_message">{{message}}</span>
    </div>
    <div class="text-center">
      <button type="submit" mat-raised-button color="primary" class="btn-block">Sign in</button>
      <p class="m-2">Don't have an account? <a routerLink="/register">Sing up</a></p>
      <p class="m-2"><a routerLink="/restartPassword"> Forgot your password</a></p>
    </div>
  </form>
</div>
