@import "~src/palette";
mat-form-field {
  width: 100%;
}

.login {
  position: absolute;
  width: 370px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid $borderBlue;
  //border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(128,128,128,0.5);
  background-color: $backgroundSilver;
  color: $textBlack;
  @media (max-width: 767px) {
    border: unset;
    border-radius: unset;
    box-shadow: unset;
    transform: unset;
    left: 0;
    top: 0;
    margin-top: 50%;
    padding: 0;
  }
}

.report-problem {
  bottom: 0;
  position: absolute;
}

@media (max-width: 767px) {
  .login {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;;
      button {
          width: 100%;
      }
  }
}

.howApplicationWorks {
  height: 100%;
  position: relative;
  z-index: 99999 !important;
  background: lightblue;
  p {
    text-align: justify;
  }
}

.languageChoice {
  position: absolute;
  bottom: 0px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

button {
  font-weight: 300;
  border-radius: 0;
  background-color: $backgroundSilver !important;
  color: $textBlack !important;
  border: 1px solid $button;
  transition: background-color 500ms ease, color 500ms ease, border 500ms ease;
  &:hover {
    @media (min-width: 900px) {
      background-color: $button !important;
      color: $textWhite !important;
      transition: background-color 500ms ease, color 500ms ease;
    }
  }
  @media (max-width: 899px) {
    background-color: $button !important;
    color: $textWhite !important;
  }
}

/deep/ .mat-form-field.mat-focused .mat-form-field-label {
  color: $textBlack !important;
}

/deep/ .mat-form-field-appearance-legacy .mat-form-field-label {
  color: $textBlack !important;
}

/deep/ .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #F44336 !important;
}

/deep/ .cdk-overlay-pane {
  @media (max-width: 767px) {
    min-width: unset !important;
    width: 85% !important;
  }
}

/deep/ .mat-select-value {
  color: $textBlack !important;
}

/deep/ .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: black !important;
}

/deep/ .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: black !important;
}

/deep/ .mat-select-arrow-wrapper {
  background-color: $backgroundSilver !important;
}

/deep/ .mat-select-arrow {
  color: $selectArrow !important;
}
