<div class="restartPassword p-3">
  <form (submit)="restartPassword(email)" *ngIf="!restart && !restart_code">
    <!--p class="error_message" *ngIf="error_message">{{error_message}}</p-->
    <div>
      <mat-form-field class="w-100">
        <mat-label>{{ _translation('Enter your email', langCode) }}</mat-label>
        <input type="email" matInput required name="email" [(ngModel)]="email">
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
    </div>
    <div class="text-center">
      <button type="submit" [disabled]="email ? false: true" mat-raised-button color="primary"
              class="btn-block">{{ _translation('Send activation key', langCode) }}</button>
    </div>
  </form>

  <form (submit)="restartPasswordCode(code, email)" *ngIf="restart && !restart_code">
    <div>
      <!--p class="error_message" *ngIf="error_message">{{error_message}}</p-->
      <mat-form-field class="w-100">
        <mat-label>{{ _translation('Enter activation code', langCode) }}</mat-label>
        <input type="text" matInput required name="code" [(ngModel)]="code">
        <mat-icon matSuffix>vpn_key</mat-icon>
      </mat-form-field>
    </div>
    <div class="text-center mb-1">
      <button type="submit" [disabled]="code ? false: true" mat-raised-button color="primary"
              class="btn-block">{{ _translation('Activate', langCode) }}</button>
    </div>
    <div class="text-center mb-1">
      <p>{{ _translation('If you didn\'t get restart password activation key please resend code again!', langCode) }}</p>
    </div>
    <div class="text-center">
      <button type="button" mat-raised-button color="primary" class="btn-block"
              (click)="restartPassword(email)">{{ _translation('Resend code', langCode) }}</button>
    </div>
  </form>

  <form (submit)="saveNewPassword(newPassword, confirmPassword, email)" *ngIf="restart && restart_code">
    <!--p class="error_message" *ngIf="error_message">{{error_message}}</p-->
    <div>
      <mat-form-field class="w-100">
        <mat-label>{{ _translation('Enter new password', langCode) }}</mat-label>
        <input [type]="showPassword == true ? 'text': 'password'" matInput required name="newPassword" [(ngModel)]="newPassword" (ngModelChange)="checkPasswordStrength($event)">
        <mat-icon *ngIf="showPassword === false" matSuffix (click)="toogleShowPassword()">visibility_off</mat-icon>
        <mat-icon *ngIf="showPassword === true" matSuffix (click)="toogleShowPassword()">visibility</mat-icon>
      </mat-form-field>
      <div *ngIf="newPassword" class="passwordStrengthInfo" class="text-left ml-1 mr-1">
        <p *ngIf="!isUpper" class="red"><i class="material-icons">
          cancel
        </i> {{ _translation('Contains at least one upper character', langCode) }}
        </p>
        <p *ngIf="isUpper" class="green"><i class="material-icons">
          done
        </i> {{ _translation('Contains at least one upper character', langCode) }}
        </p>
        <p *ngIf="!isLower" class="red"><i class="material-icons">
          cancel
        </i> {{ _translation('Contains at least one lower character', langCode) }}
        </p>
        <p *ngIf="isLower" class="green"><i class="material-icons">
          done
        </i> {{ _translation('Contains at least one lower character', langCode) }}
        </p>
        <p *ngIf="!isSpec" class="red"><i class="material-icons">
          cancel
        </i> C{{ _translation('Contains at least one special character', langCode) }}
        </p>
        <p *ngIf="isSpec" class="green"><i class="material-icons">
          done
        </i> {{ _translation('Contains at least one special character', langCode) }}
        </p>
        <p *ngIf="!isDigit" class="red"><i class="material-icons">
          cancel
        </i> {{ _translation('Contains at least one digit character', langCode) }}
        </p>
        <p *ngIf="isDigit" class="green"><i class="material-icons">
          done
        </i> {{ _translation('Contains at least one digit character', langCode) }}
        </p>
        <p class="red" *ngIf="newPassword.length < 8 || newPassword.length > 25"><i
          class="material-icons">
          cancel
        </i> {{ _translation('Contains between 8 and 25 characters', langCode) }}
        </p>
        <p class="green" *ngIf="newPassword.length > 7 && newPassword.length < 26"><i
          class="material-icons">
          done
        </i> {{ _translation('Contains between 8 and 25 characters', langCode) }}
        </p>
        <mat-progress-bar mode="determinate" class="w-90" [value]="passwordStrength"></mat-progress-bar>
      </div>
      <mat-form-field class="w-100">
        <mat-label>{{ _translation('Confirm new password', langCode) }}</mat-label>
        <input [type]="showPassword == true ? 'text': 'password'" matInput required name="newPassword" [(ngModel)]="confirmPassword">
        <mat-icon *ngIf="showPassword === false" matSuffix (click)="toogleShowPassword()">visibility_off</mat-icon>
        <mat-icon *ngIf="showPassword === true" matSuffix (click)="toogleShowPassword()">visibility</mat-icon>
      </mat-form-field>
    </div>
    <div class="text-center mb-1">
      <button type="submit" [disabled]="
      newPassword &&
      confirmPassword &&
      newPassword === confirmPassword ? false: true" mat-raised-button color="primary"
              class="btn-block">{{ _translation('Save new password', langCode) }}</button>
    </div>
  </form>
</div>
