<div class="restartPassword p-3">
  <form (submit)="restartPassword(email)" *ngIf="!restart && !restart_code">
    <p class="error_message" *ngIf="error_message">{{error_message}}</p>
    <div>
      <mat-form-field class="w-100">
        <mat-label>{{ _translation('Enter your email', langCode) }}</mat-label>
        <input type="email" matInput required name="email" [(ngModel)]="email">
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
    </div>
    <div class="text-center">
      <button type="submit" mat-raised-button color="primary" class="btn-block">{{ _translation('Send activation key', langCode) }}</button>
    </div>
  </form>

  <form (submit)="restartPasswordCode(code, email)" *ngIf="restart && !restart_code">
    <div>
      <p class="error_message" *ngIf="error_message">{{error_message}}</p>
      <mat-form-field class="w-100">
        <mat-label>{{ _translation('Enter activation code', langCode) }}</mat-label>
        <input type="text" matInput required name="code" [(ngModel)]="code">
        <mat-icon matSuffix>vpn_key</mat-icon>
      </mat-form-field>
    </div>
    <div class="text-center mb-1">
      <button type="submit" mat-raised-button color="primary" class="btn-block">{{ _translation('Activate', langCode) }}</button>
    </div>
    <div class="text-center mb-1">
      <p>{{ _translation('If you didn\'t get restart password activation key please resend code again!', langCode) }}</p>
    </div>
    <div class="text-center">
      <button type="button" mat-raised-button color="primary" class="btn-block" (click)="restartPassword(email)">{{ _translation('Resend code', langCode) }}</button>
    </div>
  </form>

  <form (submit)="saveNewPassword(newPassword, confirmPassword, email)" *ngIf="restart && restart_code">
    <p class="error_message" *ngIf="error_message">{{error_message}}</p>
    <div>
      <mat-form-field class="w-100">
        <mat-label>{{ _translation('Enter new password', langCode) }}</mat-label>
        <input type="password" matInput required name="newPassword" [(ngModel)]="newPassword">
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label>{{ _translation('Confirm new password', langCode) }}</mat-label>
        <input type="password" matInput required name="newPassword" [(ngModel)]="confirmPassword">
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>
    </div>
    <div class="text-center mb-1">
      <button type="submit" mat-raised-button color="primary" class="btn-block">{{ _translation('Save new password', langCode) }}</button>
    </div>
  </form>
</div>
