@import "~src/palette";
.bills {
  border: 1px solid $borderBlue;
  border-radius: 0px;
  box-shadow: 0px 10px 20px rgba(128,128,128,0.5);
  min-height: 500px;
  background-color: $backgroundSilver;
  color: $textBlack;

  @media (max-width: 767px) {
    padding: 0;
    border: none;
    border-radius: unset;
    box-shadow: none;
  }
}

table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}

.newBill {
  bottom: 10px;
  @media (max-width:767px) {
    //padding: 5px;
  }
}

.newBillButton {
  //border: 1px solid black;
  @media (max-width: 767px) {
    width: 100%;
  }
}

.backButton, .saveButton, .billPrice {
  @media (max-width: 767px) {
    text-align: center;
  }
}

[mat-row] {
  background: unset;
}

.data {
  &:hover {
    @media (min-width: 900px) {
      background-color: #C5C6C7;
      box-shadow: 15px 15px 20px rgba(128, 128, 128, 0.5);
      color: #1F2833 !important;
      .mat-cell {
        color: #1F2833 !important;
      }
    }
  }
}

.tableHeader {
  background-color: $backgroundSilver;
  color: $textBlack;
}

/deep/ .mat-table, [mat-footer-row], .mat-footer-row {
  background: unset;
}

@media (max-width: 767px) {

}

.newBillTextarea {
  min-height: 300px;
}

/deep/ .mat-table, th.mat-header-cell.text-center {
  text-align: center;
}

/deep/ .mat-table, th.mat-header-cell.firstTableRow {
  text-align: left;
}

/deep/ .ng-container .text-center {
  text-align: center;
}

/deep/ .pdfReport {
  &:hover {
    background-color: #EC2929;
  }
}

/deep/ .info {
  &:hover {
    background-color: white;
  }
  left: 20%;
  top: -10px;
  width: 30px;
}

/deep/ .filters mat-form-field {
  @media (max-width: 767px) {
    display: block;
  }
}

.filters {
  @media (max-width: 767px) {
    //padding: 5px;
  }
}

/deep/ .actionButton .mat-button{
  @media (max-width: 767px) {
    width: 100%;
    border: 1px solid black;
  }
}

/deep/ .actionButton {
  @media (max-width: 767px) {
    //padding: 5px;
    //margin-bottom: 10px;
  }
}

.info {
  @media (max-width: 767px) {
    right: 0px;
    left: unset;
    width: unset;
  }
}

/deep/ .actionButton button {
  &:hover {
    @media (max-width: 767px) {
      //background-color: unset;
    }
  }
}

/deep/ .tableMobile {
  @media(max-width: 767px) {
    display: none;
  }
}

/deep/ .mat-table {
  @media (max-width: 767px) {
    //width: 110% !important;
  }
}

.desktopVersion {
  @media (min-width: 900px) {
    width: 90%;
  }
}

button {
  font-weight: 300;
  border-radius: 0;
  background-color: $backgroundSilver !important;
  color: $textBlack !important;
  border: 1px solid $button;
  transition: background-color 500ms ease, color 500ms ease, border 500ms ease;
  &:hover {
    @media (min-width: 900px) {
      background-color: $button !important;
      color: $textWhite !important;
      transition: background-color 500ms ease, color 500ms ease;
    }
  }
  @media (max-width: 899px) {
    background-color: $button !important;
    color: $textWhite !important;
  }
}

/deep/ .mat-form-field.mat-focused .mat-form-field-label {
  color: $textBlack !important;
}

/deep/ .mat-form-field-appearance-legacy .mat-form-field-label {
  color: $textBlack !important;
}

/deep/ .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #F44336 !important;
}

/deep/ .cdk-overlay-pane {
  @media (max-width: 767px) {
    min-width: unset !important;
    width: 85% !important;
  }
}

/deep/ .mat-select-value {
  color: $textBlack !important;
}

/deep/ .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: black !important;
}

/deep/ .mat-select-arrow-wrapper {
  background-color: $backgroundSilver !important;
}

/deep/ .mat-select-arrow {
  color: $selectArrow !important;
}

/deep/ svg {
  color: $backgroundBlue !important;
}

/deep/ .mat-paginator-outer-container {
  background-color: $backgroundSilver !important;
  color: $textBlack !important;
}

.mat-elevation-z8 {
  overflow-x: scroll;
  border: 1px solid $borderBlue;
  box-shadow: 0px 10px 20px rgba(128,128,128,0.5);
  @media (max-width: 767px) {
    padding-left: -10px !important;
    padding-right: -10px !important;
  }
}


.mat-column-title {
  color: $textBlack !important;
}

.mat-header-cell {
  color: $textBlack !important;
}

.mat-cell {
  color: $textBlack !important;
}

/deep/ .mat-input-element:disabled {
  color: $textBlack !important;
}

/deep/ .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: black !important;
}

.clearButton {
  @media (max-width: 360px) {
    padding-left: 0;
    padding-right: 0;
  }
}
