@import "~src/palette";
/deep/ .newBillTextarea {
  height: 200px;
  max-height: 200px;
  min-width: 200px;
  resize: none !important;
  @media (max-width: 767px) {
    height: 200px !important;
    resize: none;
  }
  &::placeholder {
    color: $textBlack;
  }
}

/deep/ .mat-dialog-container {
  @media (min-width: 768px) {
    width: 500px !important;
  }
}

/deep/ textarea {
  resize: none;
}

.billHeader {
  top: 0;
  left: 0;
  margin: -24px;
}

.billFooter {
  bottom: 0;
  right: 0;
  margin-bottom: -28px;
  margin-right: -24px;
  margin-top: -100px;
}

/deep/ .mat-dialog-content {
  max-height: 55vh !important;
}

button {
  font-weight: 300;
  border-radius: 0;
  background-color: $backgroundSilver !important;
  color: $textBlack !important;
  border: 1px solid $button;
  transition: background-color 500ms ease, color 500ms ease, border 500ms ease;
  &:hover {
    @media (min-width: 900px) {
      background-color: $button !important;
      color: $textWhite !important;
      transition: background-color 500ms ease, color 500ms ease;
    }
  }
  @media (max-width: 899px) {
    background-color: $button !important;
    color: $textWhite !important;
  }
}

/deep/ .mat-dialog-container {
  background-color: $backgroundSilver !important;
  color: $textBlack !important;
  border: 1px solid $borderBlue;
  border-radius: 0px;
  box-shadow: 0px 10px 20px rgba(128,128,128,0.5);
}

/deep/ .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: black !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 200px;
}

::-webkit-scrollbar-button {
  background: #888888;
}

::-webkit-scrollbar-track-piece {
  background: #cccccc;
}

::-webkit-scrollbar-thumb {
  background: $button;
}
