/deep/ .newBillTextarea {
  height: 200px;
  max-height: 200px;
  min-width: 200px;
  resize: none !important;
  @media (max-width: 767px) {
    height: 200px !important;
    resize: none;
  }
  &::placeholder {
    color: #66FCF1;
  }
}

/deep/ .mat-dialog-container {
  @media (min-width: 768px) {
    width: 500px !important;
  }
}

/deep/ textarea {
  resize: none;
}

.billHeader {
  top: 0;
  left: 0;
  margin: -24px;
}

.billFooter {
  bottom: 0;
  right: 0;
  margin-bottom: -28px;
  margin-right: -24px;
  margin-top: -100px;
}

/deep/ .mat-dialog-content {
  max-height: 55vh !important;
}

button {
  border-radius: 50px;
  background-color: #1F2833 !important;
  color: #66FCF1 !important;
}

/deep/ .mat-dialog-container {
  background-color: #0B0C10 !important;
  color: #66FCF1 !important;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(128,128,128,0.5);
}

/deep/ .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #66FCF1 !important;
}
