/deep/ .newBillTextarea {
  height: 200px;
  max-height: 200px;
  min-width: 200px;
  resize: none !important;
  @media (max-width: 767px) {
    height: 200px !important;
    resize: none;
  }
}

/deep/ .mat-dialog-container {
  @media (min-width: 768px) {
    width: 500px !important;
  }
}

/deep/ textarea {
  resize: none;
}

.billHeader {
  top: 0;
  left: 0;
  margin: -24px;
}

.billFooter {
  bottom: 0;
  right: 0;
  margin-bottom: -28px;
  margin-right: -24px;
  margin-top: -100px;
}

/deep/ .mat-dialog-content {
  max-height: 55vh !important;
}
