<!--img width="200" height="100" class="billHeader"
            src="http://localhost:5000/dir/header_bill.png"/-->
<!--<img width="200" height="100" class="billHeader"-->
            <!--src="http://178.236.87.123:5000/dir/header_bill.png"/>-->

<!--<img width="200" height="100" class="billHeader"-->
            <!--src="https://i.ibb.co/fqdrtcs/header-bill.png"/>-->
<div mat-dialog-content class="text-center">



  <div *ngIf="data.BillType == 'costs'">
    <p>{{ _translation('Cost', langCode) }}</p>
  </div>
  <div *ngIf="data.BillType == 'profits'">
    <p>{{ _translation('Profit', langCode) }}</p>
  </div>

  <mat-form-field class="w-100">
    <mat-label>{{ _translation('Created', langCode) }}</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="data.billDate" placeholder="Created date" required disabled>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <!--mat-datepicker #picker></--mat-datepicker-->
      <mat-datepicker touchUi #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>{{ _translation('Category', langCode) }}</mat-label>
    <mat-select [(ngModel)]="data.categoryId" required (selectionChange)="onChange($event, 'categoryId')">
      <!--<mat-option value="null">-->
        <!--<p></p>-->
      <!--</mat-option>-->
      <mat-option *ngFor="let category of data.categories$" [value]="category.id"
                  value="category.name">
        <p *ngIf="category.translations">{{ category.translations.translation_category_name }}</p>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>{{ _translation('Sub category', langCode) }}</mat-label>
    <mat-select [(ngModel)]="data.subCategoryId">
      <mat-option value="null">
        <p></p>
      </mat-option>
      <mat-option *ngFor="let subCategory of data.subCategories$ | async" [value]="subCategory.id" >
        <p *ngIf="subCategory.translations">{{ subCategory.translations.translation_subcategory_name }}</p>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>{{ _translation('Currency', langCode) }}</mat-label>
    <mat-select [(ngModel)]="data.currencyId" required>
      <!--<mat-option value="null">-->
        <!--<p></p>-->
      <!--</mat-option>-->
      <mat-option *ngFor="let currency of data.currencies$" [value]="currency.id">
        {{currency.code}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>{{ _translation('Title', langCode) }}</mat-label>
    <input type="text" matInput required [(ngModel)]="data.billTitle">
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>{{ _translation('Comment', langCode) }}</mat-label>
    <textarea matInput placeholder="{{ _translation('I bought a new car for 10000€...', langCode) }}" class="newBillTextarea" [(ngModel)]="data.billComment"></textarea>
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>{{ _translation('Price', langCode) }}</mat-label>
    <input type="text" matInput required [(ngModel)]="data.billPrice">
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>{{ _translation('Quantity', langCode) }}</mat-label>
    <input type="text" matInput required [(ngModel)]="data.billQuantity">
  </mat-form-field>

  <div class="w-100 text-left">
    <mat-checkbox [(ngModel)]="data.billNotMyCity">{{ _translation('Not my city', langCode) }}</mat-checkbox>
  </div>

</div>
<div mat-dialog-actions class="w-100">
  <div class="w-50 ml-auto mr-auto mb-auto mt-1 text-center">
    <button type="button" mat-raised-button class="btn-block w-90" (click)="onNoClick()">{{ _translation('Close', langCode) }}</button>
  </div>
  <div class="w-50 ml-auto mr-auto mb-auto mt-1 text-center">
    <button type="button" [disabled]="
    data.categoryId &&
    data.currencyId &&
    data.billTitle &&
    data.billPrice &&
    data.billQuantity ? false: true" mat-raised-button color="primary" class="btn-block w-90" (click)="editBill(data)">{{ _translation('Edit', langCode) }}</button>
  </div>
  <div class="w-100 ml-auto mr-auto mb-auto mt-1 text-center">
    <button type="button" mat-raised-button color="warn" class="btn-block deleteBill" (click)="openDialogDeleteBill(data.billId)">{{ _translation('Delete', langCode) }}</button>
  </div>
</div>
<div class="text-right">
  <!--img width="200" height="100" class="billFooter"
            src="http://localhost:5000/dir/footer_bill.png"/-->
  <!--<img width="200" height="100" class="billFooter"-->
            <!--src="http://178.236.87.123:5000/dir/footer_bill.png"/>-->

  <!--<img width="200" height="100" class="billFooter"-->
            <!--src="https://i.ibb.co/jhQf47t/footer-bill.png"/>-->
</div>
