<!--img width="200" height="100" class="billHeader"
            src="http://localhost:5000/dir/header_bill.png"/-->
<!--<img width="200" height="100" class="billHeader"-->
            <!--src="http://178.236.87.123:5000/dir/header_bill.png"/>-->

<img width="200" height="100" class="billHeader"
            src="https://i.ibb.co/fqdrtcs/header-bill.png"/>
<div mat-dialog-content class="text-center">



  <div *ngIf="data.BillType == 'costs'">
    <p>Cost</p>
  </div>
  <div *ngIf="data.BillType == 'profits'">
    <p>Profit</p>
  </div>

  <mat-form-field class="w-100">
    <mat-label>Created</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="data.billDate" placeholder="Created date" required disabled>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <!--mat-datepicker #picker></--mat-datepicker-->
      <mat-datepicker touchUi #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>Category</mat-label>
    <mat-select [(ngModel)]="data.categoryId" required (selectionChange)="onChange($event, 'categoryId')" disabled>
      <mat-option value="null">
        <p>None</p>
      </mat-option>
      <mat-option *ngFor="let category of data.categories$" [value]="category.id"
                  value="category.name">
        {{category.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>Sub category</mat-label>
    <mat-select [(ngModel)]="data.subCategoryId" disabled>
      <mat-option value="null">
        <p>None</p>
      </mat-option>
      <mat-option *ngFor="let subCategory of data.subCategories$ | async" [value]="subCategory.id" >
        {{subCategory.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>Currency</mat-label>
    <mat-select [(ngModel)]="data.currencyId" disabled>
      <mat-option value="null">
        <p>None</p>
      </mat-option>
      <mat-option *ngFor="let currency of data.currencies$" [value]="currency.id">
        {{currency.code}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>Title</mat-label>
    <input type="text" matInput required [(ngModel)]="data.billTitle" disabled>
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>Comment</mat-label>
    <textarea matInput placeholder="I bought a new car for 10000€..." class="newBillTextarea" [(ngModel)]="data.billComment" disabled></textarea>
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>Price</mat-label>
    <input type="text" matInput required [(ngModel)]="data.billPrice" disabled>
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>Quantity</mat-label>
    <input type="text" matInput required [(ngModel)]="data.billQuantity" disabled>
  </mat-form-field>

  <div class="w-100 text-left">
    <mat-checkbox [(ngModel)]="data.billNotMyCity" disabled>Not my city</mat-checkbox>
  </div>

</div>
<div mat-dialog-actions class="w-100">
  <div class="w-50 ml-auto mr-auto mb-auto mt-1 text-center">
    <button type="button" mat-raised-button class="btn-block w-90" (click)="onNoClick()">No Thanks</button>
  </div>
  <div class="w-50 ml-auto mr-auto mb-auto mt-1 text-center">
    <button type="button" mat-raised-button color="primary" class="btn-block w-90" [mat-dialog-close]="data" disabled>Edit</button>
  </div>
  <div class="w-100 ml-auto mr-auto mb-auto mt-1 text-center">
    <button type="button" mat-raised-button color="warn" class="btn-block deleteBill" [mat-dialog-close]="data" (click)="deleteBill(data.billId)" disabled>Delete</button>
  </div>
</div>
<div class="text-right">
  <!--img width="200" height="100" class="billFooter"
            src="http://localhost:5000/dir/footer_bill.png"/-->
  <!--<img width="200" height="100" class="billFooter"-->
            <!--src="http://178.236.87.123:5000/dir/footer_bill.png"/>-->
  <img width="200" height="100" class="billFooter"
            src="https://i.ibb.co/jhQf47t/footer-bill.png"/>
</div>
