.news {
  background-color: #0B0C10;
  color: #66FCF1;
}

button {
  border-radius: 50px;
  background-color: #0B0C10 !important;
  color: #66FCF1 !important;
}

.newsCard {
  background-color: #1F2833 !important;
  color: #66FCF1 !important;
}
