.max-height-500 {
  max-height: 1000px;
}

button {
  border-radius: 50px;
  background-color: #1F2833 !important;
  color: #66FCF1 !important;
}

/deep/ .mat-dialog-container {
  background-color: #0B0C10 !important;
  color: #66FCF1 !important;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(128,128,128,0.5);
}

/deep/ .mat-form-field.mat-focused .mat-form-field-label {
  color: #66FCF1 !important;
}

/deep/ .mat-form-field-appearance-legacy .mat-form-field-label {
  color: #66FCF1 !important;
}

/deep/ .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #F44336 !important;
}

/deep/ .cdk-overlay-pane {
  @media (max-width: 767px) {
    min-width: unset !important;
    width: 85% !important;
  }
}

/deep/ .mat-select-value {
  color: #66FCF1 !important;
}

/deep/ .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #66FCF1 !important;
}

/deep/ .mat-select-arrow-wrapper {
  background-color: #66FCF1 !important;
}

/deep/ svg {
  color: #66FCF1 !important;
}

/deep/ .mat-input-element:disabled {
  color: #66FCF1 !important;
}

/deep/ .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #66FCF1 !important;
}
