<div mat-dialog-content class="text-center max-height-500">
  <p>Edit your personal information</p>
  <mat-form-field class="w-100">
    <mat-label>First name</mat-label>
    <input type="text" matInput required name="firstName" [(ngModel)]="data.firstName">
  </mat-form-field>
  <mat-form-field class="w-100">
    <mat-label>Last name</mat-label>
    <input type="text" matInput required name="lastName" [(ngModel)]="data.lastName">
  </mat-form-field>
  <mat-form-field class="w-100">
    <input matInput [matDatepicker]="picker" name="birthDate" [(ngModel)]="data.birthDate" placeholder="Birth date" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="w-100">
    <mat-label>Country</mat-label>
    <mat-select name="country_id" [(ngModel)]="data.country_id" (selectionChange)="onCountryChange($event)">
      <mat-option *ngFor="let country of data.countries$ | async" [value]="country.id">
        {{country.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="w-100">
    <mat-label>City</mat-label>
    <mat-select name="city_id" [(ngModel)]="data.city_id">
      <mat-option *ngFor="let city of data.cities$ | async" [value]="city.id" >
        {{city.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="w-100">
    <mat-label>Address</mat-label>
    <input type="text" matInput required name="address" [(ngModel)]="data.address">
  </mat-form-field>
  <mat-form-field class="w-100">
    <mat-label>Email</mat-label>
    <input type="email" matInput required name="email" [(ngModel)]="data.email">
  </mat-form-field>
  <mat-form-field class="w-100">
    <mat-label>Phone</mat-label>
    <input type="text" matInput name="phone" [(ngModel)]="data.phone">
  </mat-form-field>
  <mat-radio-group aria-label="Select an option" required name="gender" [(ngModel)]="data.gender" class="w-100">
    <div class="row">
      <div class="col-md-6">
        <mat-radio-button value="male" class="mb-1">Male</mat-radio-button>
      </div>
      <div class="col-md-6">
        <mat-radio-button value="female" class="mb-1">Female</mat-radio-button>
      </div>
    </div>
  </mat-radio-group>
</div>
<div mat-dialog-actions class="w-100">
  <div class="w-50 m-auto text-center">
    <button mat-button class="w-90" (click)="onNoClick()">No Thanks</button>
  </div>
  <div class="w-50 m-auto text-center">
    <button mat-button class="w-90" [mat-dialog-close]="edited" (click)="editProfile(data)">Save</button>
  </div>
</div>
