<div class="profile p-2">
  <div>
    <div class="row">
      <div class="col-md-2 col-sm-12">
        <!--div class="imageWeapper">
          <img class="profileAvatar"
            src="{{url}}/dir/{{user.image.file_name}}"
          />
          <div class="imageHover">
            <input type="file" hidden #imageInput (change)="image_selected($event)">
            <button class="newBillButton" mat-button (click)="imageInput.click()">Change picture</button>
          </div>
        </div-->
      </div>
      <div class="col-md-8">
      </div>
      <div class="col-md-2 col-sm-12 actionButton">
        <div class="mb-1 mt-1">
          <button type="button" mat-raised-button color="primary" class="btn-block newBillButton button" (click)="openDialogEditProfile()">{{ _translation('Edit profile', langCode) }}</button>
        </div>
        <div class="mb-1">
          <button type="button" mat-raised-button color="primary" class="btn-block newBillButton button mb-1" (click)="openDialogChangePassword()">{{ _translation('Change password', langCode) }}</button>
        </div>
      </div>
    </div>
    <div class="breakSection"></div>
    <div class="mt-1 information">
      <mat-tab-group>
        <mat-tab label="{{ _translation('Personal', langCode) }}">
          <div class="row p-1">
            <div class="col-md-3 col-sm-4 bold">
              <p>{{ _translation('First name', langCode) }}:</p>
            </div>
            <div class="col-md-3 col-sm-8 text-center">
              <p>{{ user.first_name }}</p>
            </div>
            <div class="col-md-6">
            </div>
          </div>
          <div class="row p-1">
            <div class="col-md-3 col-sm-4 bold">
              <p>{{ _translation('Last name', langCode) }}:</p>
            </div>
            <div class="col-md-3 col-sm-8 text-center">
              <p>{{ user.last_name }}</p>
            </div>
            <div class="col-md-6">
            </div>
          </div>
          <div class="row p-1">
            <div class="col-md-3 col-sm-4 bold">
              <p>{{ _translation('Gender', langCode) }}:</p>
            </div>
            <div class="col-md-3 col-sm-8 text-center">
              <p>{{ _translation(user.gender, langCode) }}</p>
            </div>
            <div class="col-md-6">
            </div>
          </div>
          <div class="row p-1">
            <div class="col-md-3 col-sm-4 bold">
              <p>{{ _translation('Birth date', langCode) }}:</p>
            </div>
            <div class="col-md-3 col-sm-8 text-center">
              <p>{{ user.birth_date }}</p>
            </div>
            <div class="col-md-6">
            </div>
          </div>
        </mat-tab>
        <mat-tab label="{{ _translation('Contact', langCode) }}">
          <div class="row p-1">
            <div class="col-md-3 col-sm-4 bold">
              <p>{{ _translation('Email', langCode) }}:</p>
            </div>
            <div class="col-md-3 col-sm-8 text-center">
              <p>{{ user.email }}</p>
            </div>
            <div class="col-md-6">
            </div>
          </div>
          <div class="row p-1">
            <div class="col-md-3 col-sm-4 bold">
              <p>{{ _translation('Phone', langCode) }}:</p>
            </div>
            <div class="col-md-3 col-sm-8 text-center">
              <p>{{ user.phone }}</p>
            </div>
            <div class="col-md-6">
            </div>
          </div>
          <div class="row p-1">
            <div class="col-md-3 col-sm-4 bold">
              <p>{{ _translation('Country', langCode) }}:</p>
            </div>
            <div class="col-md-3 col-sm-8 text-center">
              <p>{{ user.country.name }}</p>
            </div>
            <div class="col-md-6">
            </div>
          </div>
          <div class="row p-1">
            <div class="col-md-3 col-sm-4 bold">
              <p>{{ _translation('City', langCode) }}:</p>
            </div>
            <div class="col-md-3 col-sm-8 text-center">
              <p>{{ user.city.name }}</p>
            </div>
            <div class="col-md-6">
            </div>
          </div>
          <div class="row p-1">
            <div class="col-md-3 col-sm-4 bold">
              <p>{{ _translation('Address', langCode) }}:</p>
            </div>
            <div class="col-md-3 col-sm-8 text-center">
              <p>{{ user.address }}</p>
            </div>
            <div class="col-md-6">
            </div>
          </div>
        </mat-tab>
        <mat-tab label="{{ _translation('Application', langCode) }}">
          <div class="row p-1">
            <div class="col-md-3 col-sm-6 bold">
              <p>{{ _translation('Categories', langCode) }}:</p>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
              <p>{{ user.categories }}</p>
            </div>
            <div class="col-md-6">
            </div>
          </div>
          <div class="row p-1">
            <div class="col-md-3 col-sm-6 bold">
              <p>{{ _translation('Sub categories', langCode) }}:</p>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
              <p>{{ user.sub_categories }}</p>
            </div>
            <div class="col-md-6">
            </div>
          </div>
          <div class="row p-1">
            <div class="col-md-3 col-sm-6 bold">
              <p>{{ _translation('Currencies', langCode) }}:</p>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
              <p>{{ user.currencies }}</p>
            </div>
            <div class="col-md-6">
            </div>
          </div>
          <div class="row p-1">
            <div class="col-md-3 col-sm-6 bold">
              <p>{{ _translation('Default currency', langCode) }}:</p>
            </div>
            <div *ngIf="user.currency_id" class="col-md-3 col-sm-6 text-center">
              <p>{{ user.currency.code }}</p>
            </div>
            <div *ngIf="!user.currency_id" class="col-md-3 col-sm-6 text-center">
              <p></p>
            </div>
            <div class="col-md-6">
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
