@import "~src/palette";
.profile {
  border: 1px solid $borderBlue;
  //border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(128,128,128,0.5);
  min-height: 700px;
  color: $textBlack;
  background-color: $backgroundSilver;

  @media (max-width: 767px) {
    //padding: 0;
    border-radius: unset;
    border: unset;
  }
}

.button {
  //border: 1px solid black;
}

.profileAvatar {
  width: 100%;
  height: 100%;
  @media (min-width: 768px) {
    width: 200px;
    height: 200px;
  }
  @media (max-width: 767px) {
    max-height: 350px;
  }
}

.breakSection {
  width: 100%;
  height: 10px;
  border-bottom: 1px solid $borderBlue;
}

.information {
  .row {
    &:hover {
      @media (min-width: 900px) {
        background-color: $backgroundBlue;
        color: $textWhite;
        transition: background-color 500ms ease, color 500ms ease;
      }
    }
  }
}

.imageHover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  visibility: hidden;
  button {
    border: 1px solid black;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageWeapper {
  position: relative;
  &:hover > .imageHover {
    visibility: visible;
  }
  &:hover > img {
    opacity: 0.7;
  }
}

.profile .imageWeapper {
  @media (min-width: 767px) {
    width: 200px;
    height: 200px;
  }
}

button {
  font-weight: 300;
  border-radius: 0;
  background-color: $backgroundSilver !important;
  color: $textBlack !important;
  border: 1px solid $button;
  transition: background-color 500ms ease, color 500ms ease, border 500ms ease;
  &:hover {
    @media (min-width: 900px) {
      background-color: $button !important;
      color: $textWhite !important;
      transition: background-color 500ms ease, color 500ms ease;
    }
  }
  @media (max-width: 899px) {
    background-color: $button !important;
    color: $textWhite !important;
  }
}

/deep/ .mat-tab-label-content {
  color: $textBlack !important;
}

/deep/ mat-ink-bar {
  background-color: black !important;
}

/deep/ .mat-tab-header-pagination-chevron {
  border-color: $borderBlue !important;
}

/deep/ .mat-tab-label-active {
  background-color: $backgroundBlue !important;
  .mat-tab-label-content {
    color: $textWhite !important;
  }
}

