<!--div ng-if="chart">
  <canvas id="canvas" width="500px" height="200px">{{ chart }}</canvas>
</div-->

<div class="mobileGraph">
  <fusioncharts *ngIf="bills"
  [type]="type"
  [width]="width"
  [height]="height"
  [dataSource]="dataSource"
  >
  </fusioncharts>
  <div class="row pr-3 pl-3">
    <div class="col-md-3 col-sm-12">
      <p>Min cost: {{bills.min_cost}}</p>
    </div>
    <div class="col-md-3 col-sm-12">
      <p>Max cost: {{bills.max_cost}}</p>
    </div>
    <div class="col-md-3 col-sm-12">
      <p>Min profit: {{bills.min_profit}}</p>
    </div>
    <div class="col-md-3 col-sm-12">
      <p>Max profit: {{bills.max_profit}}</p>
    </div>
  </div>
</div>

