@import "~src/palette";
@media (max-width: 767px) {
  .mobileGraph {
    //zoom: 200%;
    //overflow-x: scroll;
    fusioncharts {
      //width: 1000px;
      //overflow-x: scroll;
      /deep/ svg {
        //width: 500px !important;
        //height: 400px !important;
      }
      /deep/ .fusioncharts-container {
        //width: 500px !important;
        //height: 400px !important;
        &.fc-cal-month {
          width: auto;
          height: auto;
        }
        &.fc-crs-widget {
          width: 370px;
          height: 230px;
        }
      }
      /deep/ .fc-cal-month {
          width: auto;
          height: auto;
      }
      /deep/ .fc-crs-widget {
          width: 370px;
          height: 230px;
      }
      rect {
        width: 1000px;
        overflow-x: scroll;
      }
    }
  }
}

.graph {
  background-color: $backgroundSilver;
  color: $textBlack;
}

/deep/ .mat-select-value {
  color: $textBlack !important;
}

/deep/ .mat-form-field.mat-focused .mat-form-field-label {
  color: $textBlack !important;
}

/deep/ .mat-form-field-appearance-legacy .mat-form-field-label {
  color: $textBlack !important;
}

/deep/ .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #F44336 !important;
}

/deep/ .cdk-overlay-pane {
  @media (max-width: 767px) {
    min-width: unset !important;
    width: 85% !important;
  }
}

/deep/ .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: black !important;
}

/deep/ .mat-select-arrow-wrapper {
  background-color: $backgroundSilver !important;
}

/deep/ .mat-select-arrow {
  color: $selectArrow !important;
}

/deep/ .mat-input-element:disabled {
  color: $textBlack !important;
}

/deep/ svg {
  color: $backgroundBlue !important;
}

/deep/ .dashboard-content {
  @media (max-width: 767px) {
    margin-top: -10px !important;
  }
}

button {
  font-weight: 300;
  //border-radius: 0;
  background-color: $backgroundSilver !important;
  //color: $textBlack !important;
  //border: 1px solid $button;
  border: 1px solid $buttonBorder;
  color: $button !important;
  border-radius: 50px;
  box-shadow: 0px 10px 20px rgba(128,128,128,0.5) !important;
  transition: background-color 500ms ease, color 500ms ease, border 500ms ease;
  &:hover {
    @media (min-width: 900px) {
      //background-color: $button !important;
      //color: $textWhite !important;
      background-color: $buttonBackground !important;
      color: $button !important;
      border: 1px solid $button;
      transition: background-color 500ms ease, color 500ms ease, border 500ms ease;
    }
  }
  @media (max-width: 899px) {
    //background-color: $button !important;
    //color: $textWhite !important;
    background-color: $buttonBackground !important;
    color: $button !important;
    border: 1px solid $button;
  }
}

.priceColumn {
  border-bottom: 1px solid $borderBlue;
}

.pieChart, .barChart {
  background-color: #0B0C10;
}

.breakSection {
  //margin-bottom: 1px;
}

/deep/ .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: black !important;
}

/deep/ rect {
  //fill: $backgroundSilver !important;
}

.clearButton {
  @media (max-width: 360px) {
    padding-left: 0;
    padding-right: 0;
  }
}

fusioncharts {
  svg {
    fill: #ececec !important;
  }
}

.lineChart {
  /deep/ rect {
    fill: #ececec !important;
  }
  /deep/ text {
    fill: #151E3F !important;
  }
}

.barChart {
  /deep/ text {
    fill: #151E3F !important;
  }
}

.pieChart {
  /deep/ rect {
    fill: #ececec !important;
  }
  /deep/ text {
    fill: #151E3F !important;
  }
}

.barButton, .pieButton {
  @media (max-width: 899px) {
    width: 90%;
  }
}
