@import "~src/palette";
.register {
  position: absolute;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid $borderBlue;
  border-radius: 0px;
  box-shadow: 0px 10px 20px rgba(128,128,128,0.5);
  background-color: $backgroundSilver;
  color: $textBlack;
  @media (max-width: 767px) {
    border: unset;
    border-radius: unset;
    box-shadow: unset;
    padding: 10px 10px;
    width: 90%;
    //margin-top: 5%;
    transform: unset;
    overflow-y: scroll;
    top: 0;
    left: 0;
    .scroll-content {
      padding-top: 50px !important;
    }
  }
  //@media (max-height: 750px) {
  //  margin-top: 25%;
  //}
  //@media (max-width: 360px) {
  //  margin-top: 30%;
  //}
  //@media (max-width: 320px) {
  //  margin-top: 45%;
  //}

}

@media (max-width: 767px) {
  .login {
      width: 90%;
      button {
          width: 100%;
      }
  }
}

.passwordStrengthInfo {
  font-size: 14px;

  /deep/ .material-icons {
    font-size: 14px !important;
  }
}

.red {
  color: #F44336;
}

.green {
  color: green;
}

/deep/ svg {
  color: $backgroundBlue !important;
}

button {
  font-weight: 300;
  //border-radius: 0;
  background-color: $backgroundSilver !important;
  //color: $textBlack !important;
  //border: 1px solid $button;
  border: 1px solid $buttonBorder;
  color: $button !important;
  border-radius: 50px;
  box-shadow: 0px 10px 20px rgba(128,128,128,0.5) !important;
  transition: background-color 500ms ease, color 500ms ease, border 500ms ease;
  &:hover {
    @media (min-width: 900px) {
      //background-color: $button !important;
      //color: $textWhite !important;
      background-color: $buttonBackground !important;
      color: $button !important;
      border: 1px solid $button;
      transition: background-color 500ms ease, color 500ms ease, border 500ms ease;
    }
  }
  @media (max-width: 899px) {
    //background-color: $button !important;
    //color: $textWhite !important;
    background-color: $buttonBackground !important;
    color: $button !important;
    border: 1px solid $button;
  }
}

/deep/ .mat-form-field.mat-focused .mat-form-field-label {
  color: $textBlack !important;
}

/deep/ .mat-form-field-appearance-legacy .mat-form-field-label {
  color: $textBlack !important;
}

/deep/ .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #F44336 !important;
}

/deep/ .cdk-overlay-pane {
  @media (max-width: 767px) {
    min-width: unset !important;
    width: 85% !important;
  }
}

/deep/ .mat-select-value {
  color: $textBlack !important;
}

/deep/ .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: black !important;
}

/deep/ .mat-select-arrow-wrapper {
  background-color: $backgroundSilver !important;
}

/deep/ .mat-select-arrow {
  color: $selectArrow !important;
}

/deep/ .mat-progress-bar-fill::after {
  background-color: $backgroundBlue !important;
}

/deep/ .mat-input-element:disabled {
  color: $textBlack !important;
}

/deep/ .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: black !important;
}
