<div class="register p-3">
  <form (submit)="registerSubmit(regRequest)">
    <div class="row">
      <div class="col-md-12 col-sm-12 pl-1 pr-1">
        <h3 class="mb-3">{{ _translation('Register', langCode) }}</h3>
      </div>
      <div class="col-md-6 col-sm-12 p-1">
        <div>
          <mat-form-field class="w-100">
            <mat-label>{{ _translation('First name', langCode) }}</mat-label>
            <input type="text" matInput required name="firstName" [(ngModel)]="regRequest.firstName">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="w-100">
            <mat-label>{{ _translation('Last name', langCode) }}</mat-label>
            <input type="text" matInput required name="lastName" [(ngModel)]="regRequest.lastName">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="w-100">
            <mat-label>{{ _translation('Email', langCode) }}</mat-label>
            <input type="email" matInput required name="email" [(ngModel)]="regRequest.email">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="w-100">
            <input matInput [matDatepicker]="picker" name="birthDate" [(ngModel)]="regRequest.birthDate" placeholder="{{ _translation('Birth date', langCode) }}" required disabled>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <!--mat-datepicker #picker></--mat-datepicker-->
            <mat-datepicker touchUi #picker disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 p-1">
        <div>
          <mat-form-field class="w-100">
            <mat-label>{{ _translation('Country', langCode) }}</mat-label>
            <mat-select name="country_id" [(ngModel)]="regRequest.country_id" (selectionChange)="onCountryChange($event)">
              <mat-option *ngFor="let country of countries$ | async" [value]="country.id">
                {{country.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="w-100">
            <mat-label>{{ _translation('City', langCode) }}</mat-label>
            <mat-select name="city_id" [(ngModel)]="regRequest.city_id">
              <mat-option *ngFor="let city of cities$" [value]="city.id" >
                {{city.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="w-100">
            <mat-label>{{ _translation('Address', langCode) }}</mat-label>
            <input type="text" matInput required name="address" [(ngModel)]="regRequest.address">
          </mat-form-field>
        </div>
        <div>
          <!--div class="mb-2">
            <label id="example-radio-group-label">Gender</label>
          </div-->
          <mat-radio-group aria-label="Select an option" required name="gender" [(ngModel)]="regRequest.gender">
            <div class="row">
              <div class="col-md-6">
                <mat-radio-button value="male" class="mb-1">{{ _translation('Male', langCode) }}</mat-radio-button>
              </div>
              <div class="col-md-6">
                <mat-radio-button value="female" class="mb-1">{{ _translation('Female', langCode) }}</mat-radio-button>
              </div>
            </div>
          </mat-radio-group>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 p-1">
        <div>
          <mat-form-field class="w-100">
            <mat-label>{{ _translation('Password', langCode) }}</mat-label>
            <input type="password" matInput required name="password" [(ngModel)]="regRequest.password">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 p-1">
        <div>
          <mat-form-field class="w-100">
            <mat-label>{{ _translation('Confirm password', langCode) }}</mat-label>
            <input type="password" matInput required name="confirmPassword" [(ngModel)]="regRequest.confirmPassword">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 p-1">
        <div class="row">
          <div class="col-md-8"></div>
          <div class="col-md-4">
            <div class="text-center">
              <button type="submit" mat-raised-button color="primary" class="btn-block">{{ _translation('Sign up', langCode) }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
