.register {
  position: absolute;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(128,128,128,0.5);
  @media (max-width: 767px) {
    border: unset;
    border-radius: unset;
    box-shadow: unset;
    padding: 10px 10px;
    width: 90%;
    margin-top: 20%;
  }
  @media (max-height: 750px) {
    margin-top: 25%;
  }
  @media (max-width: 360px) {
    margin-top: 30%;
  }
  @media (max-width: 320px) {
    margin-top: 45%;
  }

}

@media (max-width: 767px) {
  .login {
      width: 90%;
      button {
          width: 100%;
      }
  }
}
