@import "~src/palette";
.settings {
  border: 1px solid lightgray;
  box-shadow: 0px 10px 20px rgba(128,128,128,0.5);
  min-height: 700px;
  background-color: $backgroundSilver;
  color: $textBlack;

  @media (max-width: 767px) {
    //padding: 0;
    border-radius: unset;
    border: unset;
    //margin-top: -20px;
  }
}

/*.search {
  border: 1px solid blue;
  height: 30%;
}*/

.searchIcon {
  width: 20%;
}

.searchInput {
  width: 80%;
  input {
    position: unset;
    left: unset;
    height: 100%;
  }
}

/deep/ .mat-slide-toggle.mat-checked {
  .mat-slide-toggle-thumb {
    background-color: black !important;
  }
}

/deep/ .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color:  rgb(121, 228, 129);
}

.deactiveCard {
  //border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}

.activeCard {
  //border: 1px solid;
  padding: 10px;
  box-shadow: 2px 5px green;
}

currencyCard {
  border-radius: 50%;
  text-align: center;
  width: 50%;
}

/deep/ .mat-card {
  margin: auto;
  border-radius: 50% !important;
  height: 100px;
  width: 100px;
  background-color: $backgroundBlue !important;
  color: $textWhite !important;
  justify-content: center;
  align-items: center;
  display: flex !important;
  &:hover {
    @media (min-width: 900px) {
      box-shadow: 2px 5px #888888;
    }
  }
}

.mat-accordion .row {
  max-height: 415px;
  overflow-y: scroll;
  h1 {
    margin-top: 50%;
    margin-left: 25%;
  }
}

/deep/ .mat-slide-toggle {
  z-index: 999;
}

.card {
  text-align: center;
  padding-top: 50%;
  padding-bottom: 50%;
}

/deep/ .mat-expansion-panel-header {
  min-height: 70px !important;
  span {
    &:after {
      color: $textBlack !important;
    }
  }
}

.settings {
  @media (max-width: 767px) {
    padding: 0px;
  }
}

.search {
  @media (max-width: 767px) {
    text-align: center;
  }
}

button {
  font-weight: 300;
  border-radius: 0;
  background-color: $backgroundSilver !important;
  color: $textBlack !important;
  border: 1px solid $button;
  transition: background-color 500ms ease, color 500ms ease, border 500ms ease;
  &:hover {
    @media (min-width: 900px) {
      background-color: $button !important;
      color: $textWhite !important;
      transition: background-color 500ms ease, color 500ms ease;
    }
  }
  @media (max-width: 899px) {
    background-color: $button !important;
    color: $textWhite !important;
  }
}

/deep/ .mat-tab-label-content {
  color: $textBlack !important;
}

/deep/ .mat-form-field.mat-focused .mat-form-field-label {
  color: $textBlack !important;
}

/deep/ .mat-form-field-appearance-legacy .mat-form-field-label {
  color: $textBlack !important;
}

/deep/ .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #F44336 !important;
}

/deep/ .mat-select-value {
  color: $textBlack !important;
}

/deep/ .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: black !important;
}

/deep/ .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: black !important;
}

/deep/ .mat-accordion .mat-expansion-panel:first-of-type {
  border-radius: 0 !important;
  @media (max-width: 767px) {
    border-top-right-radius: unset !important;
    border-top-left-radius: unset !important;
  }
}

/deep/ .mat-accordion .mat-expansion-panel:last-of-type {
  border-radius: 0 !important;
  @media (max-width: 767px) {
    border-bottom-right-radius: unset !important;
    border-bottom-left-radius: unset !important;
  }
}

/deep/ mat-expansion-panel {
  background-color: $backgroundSilver !important;
  color: $textBlack !important;
}

/deep/ .mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
  background-color: $backgroundSilver !important;
  color: $textBlack !important;
}

/deep/ mat-panel-title {
  color: $textBlack !important;
}

/deep/ mat-panel-description {
  color: $textBlack !important;
}

.activeButton {
  background-color:  rgb(121, 228, 129) !important;
  color: $textBlack !important;
  &:hover {
    background-color: rgb(121, 228, 129) !important;
    color: unset !important;
  }
}

.inactiveButton {
  background-color:  $backgroundSilver !important;
  color: $textBlack !important;
  &:hover {
    background-color: unset !important;
    color: unset !important;
  }
}
